.heading {
  &__primary {
    font-size: 3.5rem;
    font-weight: 600;
  }
  &__secondary {
    font-size: 3rem;
    font-weight: 600;
  }
  &__tertiary {
    font-size: 2rem;
    font-weight: 600;
  }
  &__hint {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--text-grey);
    &-bold {
      font-size: 1.4rem;
      font-weight: bolder;
      max-width: 30rem;
      text-align: center;
    }
  }
  &__danger {
    width: 20rem;
    // padding: 1rem;
    padding: 1rem;

    background-color: red;
    text-align: center;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    min-height: 2.2rem;
    margin: 2rem auto;
    transform: scaleX(0);
    transition: transform 0.2s;
    border-radius: 5px;
    &-show {
      transform: scaleX(1);
    }
  }
}
.hint {
  &-danger {
    color: red;
    &:not(:first-of-type) {
      display: none;
    }
  }
}
