.bg-white {
  background-color: white;
}
.u-hide {
  display: none;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.pos-center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.complete-clr,
.complete-clr:before,
.complete-clr:after {
  color: #4ecb71 !important;
}
.incomplete-clr {
  color: var(--incomplete-clr) !important;
}

@for $i from 1 through 5 {
  .mt-#{$i} {
    margin-top: #{$i}rem;
  }
  .md-#{$i} {
    margin-bottom: #{$i}rem;
  }
  .ml-#{$i} {
    margin-left: #{$i}rem;
  }
  .mr-#{$i} {
    margin-right: #{$i}rem;
  }
}
.sh-1 {
  // height: 2.2rem;
  @include static-height(2);
}
.u-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
